* {
        text-align: right;
}

body {
        background-image: url(https://images.unsplash.com/photo-1609263874515-e66091c2f1f0?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1207&q=80);
        background-size: cover;
}

h2+p:hover {
        color: #D46A6A;
        text-align: center;
        border: 5px solid rgba(85, 0, 0, 0.5);
        cursor: pointer;
}

p {
        color: pink;
}

p {
        color: green;
}

li {
        list-style: none;
        display: inline-block;
}

.webtext:first-child {
        border: 5px dashed green;
}

.active {
        border: 5px dashed green;
        color: red;
}

#div1 {
        background: rgba(0, 0, 255, 0.2);
}

#div2 {
        background: rgba(255, 0, 0, 0.2);
}
